In [1]:
import csv
import json
import pandas as pd

In [2]:
data = {}
df = pd.read_csv('the_oscar_award.csv')

In [8]:
df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [4]:
groupby = df.groupby(["film","year_ceremony"]).count().sort_values(by="winner",ascending=False, na_position='first')[{"winner"}]

In [5]:
new_df = groupby.nlargest(10, 'winner').reset_index()[{"film", "winner"}]

In [6]:
new_df.set_index("film", inplace = True)

In [9]:
new_df

                                                   winner
film
All about Eve                                          14
Titanic                                                14
La La Land                                             14
The Curious Case of Benjamin Button                    13
Gone with the Wind                                     13
The Shape of Water                                     13
Shakespeare in Love                                    13
Who's Afraid of Virginia Woolf?                        13
From Here to Eternity                                  13
The Lord of the Rings: The Fellowship of the Ring      13

In [10]:
new_df.to_csv("new_the_oscar_award.csv")